.about-page {
  height: 100%;
  width: 1000px;
  padding: 15px 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  background-color: #eaede9;
}

.about-page img {
  width: 300px;
  height: 300px;
  margin: 30px;
}

.about-page p {
  margin: 15px;
}

.dispersed-ps .narrow {
  width: 400px;
  margin: 30px;
}